<h1>Create a blog now!</h1>

<%= form_for :user do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <br>
  <br>
  <%= f.label :email%>
  <%= f.text_field :email%>
  <br>
  <br>
  <%= f.label :password%>
  <%= f.password_field :password%>
  <br>
  <br>
  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation%>
  <br>
  <br>
  <% if User.count == 0%>
    <%= f.hidden_field :isAdmin, :value => 1%>
  <% else %>
    <%= f.hidden_field :isAdmin, :value => 0%>
  <% end %>

  <%= f.submit %>

<% end %>
